
*{
    margin-left:2%;
    margin-right:6%;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    min-height: 100%;
}

.head{
    background:#11254d;
    padding:30px;
    width:100%;
    color: aliceblue;
    font-size: 25px;
    position: static;
}
small{
    font-size: 13px;
    margin-left: 15px;
}

.main{
    display: flex;
    width:105%;
}
li{
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
}

.hrblock1{
    display: flex;
    float:left;
    width:100%;
    /* border: 1px solid  #11254d ; */

}
span{
    position: relative;
    margin: auto;
}

.hrblock2{
    display: flex;
    float:left;
    /* border: 1px solid  #11254d ; */
    width:max-content;
    margin-left:-130px;
    }
.list{
    list-style-type:none;
}

.photo{
    width:250px;
    height:250px;
    position: relative;
    margin: auto;

}
button{
    border:none;
    color:#ffffff;
    background: #de5f4b;
    padding:8px;
    font-size: 15px;
    border-radius: 2px;
}

select, input {
    width:100%;
    border:  1px solid  #000000;
    padding:8px;
    margin-right:auto;
    font-size: 15px;
    border-radius: 2px;
}

.inp1{
    width:100%;
}
.inp2{
    width:40%;
    float:left;
    margin-left:-13px;
    background:#000000;
    color:#3f3f3f;
    font-size:13px;
}
.sst{
    display:flex;
}

img{
    padding-right:30px;
}
.foot{
    background:#11254d;
    padding:20px;
    width:100%;
    color: aliceblue;
    font-size:15px;
    align-self: stretch;
}
